<h2>Witaj Hipsterze !</h2>
<p>Strona ta zawiera podstawowowe zasoby życiowe bez ktorych prawniwy hipster nie może się obejść</p>
<p>W zbudowaniu jej pomogły dwie hipsterskie technologie takie jak Elixir odpowiedzialny za część backendową, oraz Vue.js widoczny po stronie klienta</p>
<p>Jeżeli czujesz się hipsterem, i brakuje Ci pewnej treści, to proszę o kontakt. Postaramy się to dodać !
<p>Tak więc miłego korzystania z</p>
<h3 class="logo">Hipsterska strona!!!</h3>
